<mat-toolbar>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <button mat-mini-fab color="basic" (click)="goToDashboard()">
          <mat-icon>dashboard</mat-icon>
        </button>
      </div>
      <div class="col-md-6 search">
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="query" id="query" placeholder="Search Your Favourite Show"
            (keyup.enter)="searchShows()">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-toolbar>