.search {
  position: relative;

  .search-result {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }

  input { 
    width: 90%;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
    .mat-toolbar-row, .mat-toolbar-single-row {
      height: 90px;
    }
    .search input {
      width: 80%;
    }
  }

  @media (max-width: 768px) {
    .search input {
      width: 85%;
    }
  }