

hr {
  border-top: 4px solid #cecaca;
  margin-bottom: 1%;
  margin-top: 1%;
}

.mainDiv {
  margin-bottom: 3%;
}

.cardDiv {
  display: flex;
  min-width: 100%;
  min-height: 200px;
  overflow-x: auto;
}

.card--content {
  min-width: 200px;
  margin: 5px;
}






  
