<div class="container">
  <div *ngIf="show">
    <h2>{{ show.name }}</h2>
    <hr>
    <div class="row main">
      <div class="col-md-8">
        <mat-card class="card">
          <div class="row">
            <div class="col-md-4">
              <img mat-card-image class="mat-card-image" [src]="show?.image?.medium" alt="show.name">
            </div>
            <div class="col-md-8">
              <div [innerHTML]="show.summary" class="summary"></div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="card">
          <p id="lang"><strong>Language:</strong> {{show.language}}</p>
          <p id="schedule"><strong>Schedule:</strong> {{ show.schedule.days.join(', ') }} {{ show.schedule.time }}</p>
          <p id="status"><strong>Status:</strong> {{ show.status }}</p>
          <p id="type"><strong>Show Type:</strong> {{ show.type }}</p>
          <p id="genre"><strong>Genres:</strong> {{ show.genres.join(' | ')}}</p>
          <p id="site"><strong>Official site: </strong><a [href]="show.officialSite"
              target="_blank">{{ show.officialSite }}</a>
          </p>
        </mat-card>
      </div>
    </div>
  </div>
</div>